<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Leaflet  CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin=""/>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>

    <!-- Leaflet drawing tools. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
    <title>GEE/Flask Tutorial</title>

    <!-- CSS extention Bulma -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  </head>

  <body>

    <table class="table">
      <thead>
        <tr>
          <th>Element</th>
          <th>Units</th>
          <th>Min</th>
          <th>Mean</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- Remember this is jinja -->
          <th>{{ dict["id"] }}</th>
          <td>{{ dict["units"] }}</td>
          <td>{{ dict["min"] }}</td>
          <td>{{ dict["med"] }}</td>
          <td>{{ dict["max"] }}</td>
        </tr>
      </tbody>
    </table>

    <div id="mapid" style=" position: fixed; height: 90%; width: 100%;"></div>

    <script type=text/javascript>

        //Script to create the map
        var map = L.map('mapid').setView([-40, 0], 2);
        map.setView(new L.LatLng({{setCords[0]}}, {{setCords[1]}}), 14)

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox.streets',
        accessToken: 'your.mapbox.access.token'}).addTo(map);

        var classifier = L.tileLayer('{{ dict["tileURL"] }}', {
                          attribution: "Map Data © Google Earth Engine",
                          id: '{{dict["id"]}}',}).addTo(map);

        var LayerController = {};
        LayerController.{{dict["id"]}} = classifier

        L.control.layers({}, LayerController).addTo(map);
    </script>
  </body>
</html>
